<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" /><title>{% block title %}{% endblock %} LaTourDePizz</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    </head>
    <body>
    <main>
        <div class="row">
            {% block navbar %}
                {{ include('partials/frame/navbar.html.twig') }}
            {% endblock %}
        </div>
        <div class="row">
            {% block content %}
                {% block header %}
                {% endblock %}
            {% endblock %}
        </div>
            {% block footer %}
                <footer class="page-footer">
                    {{ include('partials/frame/footer.html.twig') }}
                </footer>
            {% endblock %}
        <div class="fixed-action-btn vertical click-to-toggle">
            <a class="btn-floating btn-large">
                <i class="large material-icons">message</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                {#<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>#}
                {#<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>#}
                {#<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>#}
            </ul>
        </div>
    </main>

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/scrollBottom.js') }}"></script>
        <script>
            function initMap() {
                var laTourDePizz = {lat: 45.889951, lng: 6.788950};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: laTourDePizz
                });
                var marker = new google.maps.Marker({
                    position: laTourDePizz,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsaZMbtT605nvH9d141SOvBvyg964Gc7I&callback=initMap">
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>


