<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" /><title>{% block title %}{% endblock %} LaTourDePizz</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    </head>
    <body>
    <main>
        {% block navbar %}
            {{ include('partials/frame/navbar.html.twig') }}
        {% endblock %}
        {% block content %}
            {% block header %}
            {% endblock %}
        {% endblock %}
        {% block footer %}
            <footer class="page-footer">
                {{ include('partials/frame/footer.html.twig') }}
            </footer>
        {% endblock %}



        <div class="fixed-action-btn vertical click-to-toggle">
            <a class="btn-floating btn-large waves-effect waves-light">
                <i class="large material-icons">message</i>
            </a>
            <ul>
                <li id="formContact" class="floatForm">
                    <div class="row introForm">
                        <div class="row ">
                            <img src="{{ asset('assets/imgs/logo1.png') }}" alt="LOGO" width="70px">
                            <h5>N'hésitez pas à nous envoyer un message, LaTourDePizz' est toujours à l'écoute de ses clients</h5>
                        </div>
                        <span class="grey-text text-lighten-3"><i class="fa fa-phone-square"></i> 06 00 00 00 00</span>
                        <br>
                        <span class="grey-text text-lighten-3"><i class="fa fa-envelope-square"></i> contact@latourdepizz.co</span>
                  </div>
                    <div class="row form">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="name" name="name" type="text" class="validate">
                                    <label for="name">Nom et prénom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="message" name="message" class="materialize-textarea"></textarea>
                                    <label for="message">Votre message</label>
                                </div>
                                <button type="submit" class="waves-effect waves-light btn">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/switchNav.js') }}"></script>
    <script src="{{ asset('assets/js/scrollBottom.js') }}"></script>
    <script>
        function initMap() {
            var laTourDePizz = {lat: 45.889951, lng: 6.788950};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: laTourDePizz
            });
            var marker = new google.maps.Marker({
                position: laTourDePizz,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsaZMbtT605nvH9d141SOvBvyg964Gc7I&callback=initMap">
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>


